@font-face {
    font-family: 'Anton';
    src: url(../fonts/Anton/Anton-Regular.ttf);
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'RockSalt';
    src: url(../fonts/Rock_Salt/RockSalt-Regular.ttf);
}
@font-face {
    font-family: 'JL';
    src: url(../fonts/JUSTICE\ LEAGUE.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    color: #fff;
    font-family: 'Roboto-Thin';
}
a{
    text-decoration: none;
    color: #fff;
}

img {
    width: 100%;
}
